<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="">
    <head>
        <title>Overnight Asia</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/icomoon.css">
        <link rel="stylesheet" href="css/jquery.timepicker.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

        <!-- jquery for form -->
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

        <script type="text/javascript" src="js/jquery.timepicker.js"></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
<div class="container-fluid">
  <!-- header -->
  <div class="row header-nav">
    <div class="col-md-1"></div>
    <div class="col-md-2"><img style="margin: 10px 10px;" src="img/overnightlogo1.png" width=40px></div>
    <div class="col-md-6"></div>
    <div class="col-md-3"><br><a class="signingbuttons">Sign In</a> | <a class="signingbuttons">Sign Up</a></div>
  </div>
  <div class="row colorbar"></div><br>
  <!-- overnight logo and traveler name -->
  <!--<div class="row">
    <div class="col-md-1 col-xs-6"><br><img src="img/overnightlogo.png" width=80px><br></div>
    <div class="col-md-7"></div>
    <div class="col-md-3 col-xs-6"><h4 style="text-align: right; margin-top: 25px;">Traveler <span style="color: #ff5a00">Zeanne</span></h4></div>
  </div>
-->
  <!-- Reference Row-->
  <div class="row"><br>
    <div class="col-md-1"></div>

    <div class="col-md-7">
      <h3>Booking Reference</h3>
      <hr WIDTH=100%>
      <h4>Booking ID: 20151034930</h4>
      <div class="whitebox"><br>
        <h4 class="orangeinbox">Hotel Name</h4>
        <h4 class="blackinbox">99 Sukhumvit Soi 3, Klongtoey Nua<br>
        Wattana, Wattana, 1011 Bangkok, Thailand</h4>
        <h4 class="orangeinbox">Room Type</h4>
        <h4 class="blackinbox">Deluxe</h4><br>
        <h4 class="orangeinbox">Date Selected</h4>
        <div class="row">
          <div class="col-md-4 col-xs-12"><div class="datebox" style="margin-left: 20px;"></div></div>
          <div class="col-md-8 col-xs-12"><div class="datebox" style="margin-left: 20px;"></div></div></div><br>

        <h4 class="orangeinbox">Attractions Selected</h4>
        <h4 class="blackinbox">Elephant Ride</h4><br>
        <div class="row">
          <div class="col-md-2 col-xs-6">
            <h4 class="orangeinbox">Chaffeur</h4></div>
          <div class="col-md-1 col-xs-6">
            <div class="datebox" style="width: 20px; height: 20px; margin-top: 10px;"></div></div>
          <div class="col-md-1"></div>
          <div class="col-md-2 col-xs-12"><h4 class="orangeinbox">Pick-up Time</h4></div>
          <div class="col-md-4 col-xs-12"><div class="datebox" style="margin-left: 20px;"></span></div>
        </div></div><br>
        <h4 class="orangeinbox">Estimated Check-in Time</h4>
        <div class="datebox" style="margin-left: 20px;"></div>
        <br><br>

      </div><br>
      <div class="row">
        <div class="col-md-4 col-xs-8"><h4>Do you want an invoice?</h4><br></div>
        <div class="col-md-2 col-xs-2"><div class="datebox" style="width: 20px; height: 20px; margin-top: 10px;"></div></div>
      </div>

    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-1"></div>
  </div>


  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-3" style="text-align: center;">
      <button type="button" href="index.html" class="btn" id="donebutton">Done</button>
      <br><br><br><br><br>
    </div>
  </div>
  <!-- footer -->
  <div class="row header-nav"><br><br>
    <div class="col-md-2"><center>About Us</center></div>
    <div class="col-md-2"><center>Partners</center></div>
    <div class="col-md-2"><center>Support</center></div>
    <div class="col-md-2"><center>FAQ</center></div>
    <div class="col-md-4">
            <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top whitecol" href="#"></a>
            <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top whitecol" href="#"></a>
            <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top whitecol" href="#"></a>
            <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top whitecol" href="#"></a>
            <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top whitecol" href="#"></a>
    </div><br><br><br>
  </div>

</div>

      <!--  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script> -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
